.QuoteDiv {
    position: relative;
    padding: 10px;
    border: 1px solid black;
    margin: 10px 0;
}
.author {
    font-style: italic;
}
.buttons {
    position: absolute;
    top: 0;
    right: 0;
}
.buttons > button {
    margin: 5px;
}